<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <% if (action == 'create') { %>
    <form action="/createGenre" method="POST">
      <label for="genreName">Name:</label>
      <input type="text" id="genreName" name="genreName" autofocus><br>
  <% } else { %>
    <form action="/updateGenre" method="POST">
      <label for="genreName">Name:</label>
      <input type="text" id="genreName" name="genreName" value="<%= row.name %>"><br>
  <% } %>
      <button type="submit"><%= action %></button>
  </form>
</body>
</html>