<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <% let rootpath = ""; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
	<%- include('include/navbar') %>
  <% if(username == 'none') { %>
    <form action="/login" method="POST">
      <input type="text" name="user" id="user">
      <input type="password" name="password" id="password">
      <button type="submit">Login</button>
    </form>
 <% } else { %>
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } %>
  <%- include('include/gameTable') %> 
</body>
</html>