<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documengit t</title>
  <link rel="stylesheet" type="text/css" href="/css/tables.css"/>
  <link rel="stylesheet" type="text/css" href="/css/special.css"/>
  <link rel="stylesheet" type="text/css" href="/css/rootVariables.css"/>
</head>
<body>
	<%- include('include/navbar') %>
</body>
</html>