.customBtn{
    text-decoration: none;
    list-style: none;
    border: none;

    background-color: var(--clr_main);
    color: white;
    display: inline-block;
    align-items: center;
    text-align: center;
    text-transform:capitalize;
    font-variant: small-caps;
    padding: .25rem;
    border-radius: .15rem;
    box-shadow:var(--btn_shadow);
    transition: 
        border-radius 200ms ease-in,
        box-shadow 200ms ease-in-out,
}

.customBtn:hover {
    border-radius: var(--border_radius_hover);
    box-shadow:var(--btn_shadow_hover);
}

.customBtn:focus, .customBtn:active {
    border-radius: var(--border_radius_hover);
    box-shadow:var(--btn_shadow_focus);
}