div#customForm {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
}

#customForm > form{
    display: inline-grid;
    grid-template-columns: 1em 1fr 1em;
    row-gap: .75em;
}

.formItem {
    position: relative;
    grid-column-start: 2;
}

#submitBtn {
    margin-top: .5rem;
    grid-column-start: 1;
    grid-column-end: last-line;
    grid-row-start: 0;
    padding: 0.25rem;
    width: 50%;
    justify-self: center;
}

.formItem input {
    background-color: var(--bg_color);
    padding: .35rem .3rem;
    border: .1rem solid var(--clr_main_xxdark);
    border-radius: .6rem;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}
.formItem label{
    position: absolute;
    left: 1rem;
    top: 0.2rem;
    padding: .2rem;
    color: var(--clr_main_xdark);
    cursor: text;
    transition: 
        top 200ms ease-in,
        left 200ms ease-in,
        font-size 200ms ease-in;
}
.formItem input:hover{
    border-color: var(--clr_main_light);
}

.formItem input:focus{
    border-color: rgb(68, 193, 231);
}

.formItem  input:focus ~ label,
.formItem input:not(:placeholder-shown).formInput:not(:focus) ~ label{
    top: -0.6rem;
    left: 0.8rem;
    font-size: 0.8rem;
    background-color: var(--bg_color);
}