html, body{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
}
#navbar {
    position: relative;
    display: block;
    align-items: center;
    background-color: rgb(59, 73, 102);
    box-shadow: 
        0 -0.65rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1) inset,
        0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.3);

}

#navbar > ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    padding-bottom: .25rem;
}

#navlist > a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    align-items: center;
    padding: 1rem;
    margin: 0.25rem;
    border-radius: .15rem;
    box-shadow:
        0 0 0.3rem 0.1rem rgba(255, 255, 255, 0.1) inset,
        0 0 0.4rem 0.15rem rgba(70, 230, 255, 0.1) inset,
        0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.1) inset,
        0 0 0.2rem 0.15rem rgba(0, 0, 0, 0.1);
    transition: 
        border-radius 200ms ease-in,
        box-shadow 200ms ease-in-out,
}

#navlist > a:hover {
    border-radius: .35rem;
    box-shadow:
        0 0 0.3rem 0.1rem rgba(255, 255, 255, 0.15) inset,
        0 0 0.4rem 0.15rem rgba(70, 230, 255, 0.2) inset,
        0 0 0.6rem 0.15rem rgba(175, 245, 255, 0.3) inset,
        0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.1) inset,
        0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.15);
}

li.item{
    color: #fff;
    font-size: 1.2rem;
}