#gameContainer {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    width: 80%;
    gap: 1rem;
    padding: 1rem;
}

#gameContainer #gameName {
    align-self: stretch;
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
    margin-bottom: .5rem;
}
#gameContainer #gameName span:first-of-type {
    font-size: 2.5rem;
    text-shadow: 0 0 .1rem var(--clr_main_light);
}

#gameContainer #gameName span {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 1rem;
    padding-left: .25rem;
}

#gameContainer #content{
    width: 100%;
}
#gameContainer #content *{
    padding: .25rem;
}

#gameContainer #content .innerContainer {
    display: inline-flex;
    margin-bottom: .5rem;
    width: 50%;
    flex-wrap: wrap;

}

.right {
    float: right;
}

#gameContainer .head {
    display: block;
    text-align: center;
}

#gameTrailer,
#gameTrailer > iframe {
    position: relative;
    display: block;
    max-width: 560px;
    max-height: 315px;
    width: auto;
    height: auto;
    flex-grow: 4;
}
