/*This documents hold special styling that can be used in various different places*/
.hide {
    display: none;
}
.whiteout {
    color: var(--bg_color);
    user-select: none;
}

.sticky {
    position: sticky;
}

.cur_default {
    cursor: default;
}

.disable-select {
    user-select: none; /* All modern browsers */
}

@media screen and (max-width: 900px){
    .mHide,
    .mHide * { /* --This class hides items on small display */
        display: none;
        pointer-events: none;
    }
}