<div id="navbar">
	<ul>
		<li><a href="/studios">Studios</a></li>
		<li><a href="/games">Games</a></li>
		<li><a href="/games?idPlatform=PS">Playstation</a></li>
		<li><a href="/games?idPlatform=Xbox">Xbox</a></li>
		</li>
	</ul>
</div>