<div id="navbar">
	<ul id="navlist">
		<a href="/studios"><li class="item">Studios</li></a>
		<a href="/games"><li class="item">Games</li></a>
		<a href="/games?idPlatform=PS"><li class="item">Playstation</li></a>
		<a href="/games?idPlatform=Xbox"><li class="item">Xbox</li></a>
	</ul>
</div>