<div id="navbar" class="sticky">
	<ul id="navlist">
		<a href="/"><li class="item customBtn">Home</li></a>
		<a href="/studios"><li class="item customBtn">Studios</li></a>
		<a href="/games"><li class="item customBtn">Games</li></a>
		<a href="/games?idPlatform=PS"><li class="item customBtn">Playstation</li></a>
		<a href="/games?idPlatform=Xbox"><li class="item customBtn">Xbox</li></a>
		<% if(username != 'none') { %>
			<div id="customSelect" class="item customBtn select">
				<p>Create</p>
				<div class="focus">
					<ul>
						<li>
							<a href="/createGame" class="customBtn">Game</a>
						</li>
						<li>
							<a href="/createStudio" class="customBtn">Studio</a>
						</li>
				</ul>
				</div>
			</div>
		<% } %>
	</ul>
</div>