<div id="navbar" class="sticky">
	<ul id="navlist">
		<a href="/studios"><li class="item customBtn">Studios</li></a>
		<a href="/games"><li class="item customBtn">Games</li></a>
		<a href="/games?idPlatform=PS"><li class="item customBtn">Playstation</li></a>
		<a href="/games?idPlatform=Xbox"><li class="item customBtn">Xbox</li></a>
	</ul>
</div>